@font-face {
  font-family: "Shabnam-FD";
  src: url("../fonts/Shabnam-FD.woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Shabnam-FD";
}
.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1000px;
  margin: auto auto;
  justify-content: center;
  gap: 20px;
}

header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  margin-top: 20px;
}

.logo {
  width: 180px;
}
.input {
  width: 600px;
  padding: 8px;
  background-color: #dde5f3;
  border: none;
  border-radius: 8px;
}
.btn {
  color: #3680ef;
  border-color: #3680ef;
  border-radius: 8px;
  background-color: #fff;
}
.list {
  color: rgba(0, 0, 0, 0.853);
  margin-top: 25px;
  margin-right: 215px;
  list-style: none;
  display: flex;
  gap: 30px;
}
.slider {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.slider img {
  width: 100%;
  display: block;
  border-radius: 20px;
}
.slider-btns {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}
.abc {
  color: #3680ef;
  width: 22px;
  height: 20px;
  background-color: aliceblue;
  border: none;
  border-radius: 50%;
}
.def {
  color: #3680ef;
  width: 22px;
  height: 20px;
  background-color: aliceblue;
  border: none;
  border-radius: 50%;
}
.bttn {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.btn2 {
  width: 10px;
  height: 10px;
  background-color: rgb(219, 202, 202);
  border-radius: 50%;
}
.brand {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
  gap: 50px;
}
.brand-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
}

.brand-item img {
  width: 50px;
  object-fit: contain;
  height: 50px;
}
.services {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: rgb(94, 90, 90);
  font-size: 10px;
}
.service-item img {
  width: 50px;
  height: 50px;
}
.popular-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 20px 15px;
  gap: 10px;
}

.title1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Popular {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7%;
  justify-content: center;
}
.Popular div {
  max-width: 10%;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 200;
}

.Popular img {
  background-color: rgb(238, 238, 240);
  padding: 5px;
}
.accessories-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 20px 15px;
  gap: 10px;
}
.title2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accessories {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7%;
  justify-content: center;
}
.accessories div {
  max-width: 10%;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 200;
}
.accessories img {
  width: 100%;
  background-color: rgb(238, 238, 240);
  padding: 5px;
}
.newest-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 20px 15px;
  gap: 10px;
}
.title3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newest {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7%;
  justify-content: space-between;
}
.newest div {
  width: 10%;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 200;
}
.newest img {
  width: 100%;
  background-color: rgb(238, 238, 240);
  padding: 5px;
}
.news-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 20px 15px;
  gap: 10px;
}
.news {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
  justify-content: space-between;
}
.news div {
  width: 10%;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 200;
}
.title4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery {
  display: flex;
  gap: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.col img {
  width: 100%;
  height: 140px;
  border-radius: 12px;
}
.col.big img {
  height: 300px;
}
.col2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: small;
}
footer {
  background-color: #0f1b36;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  flex: 1;
  margin-top: 50px;
}
.GSM-Logo {
  width: 200px;
  height: 100px;
}
.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  min-width: 250px;
  color: #fff;
}
.footer-center ul {
  list-style: none;
  line-height: 2;
  color: #fff;
}
.footer-center a {
  color: #fff;
  text-decoration: none;
}
.footer-left {
  width: 200px;
  display: flex;
  flex-direction: column;
  line-height: 3;
}
.footer-left h4 {
  color: rgb(183, 178, 178);
}
.social-icons {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.social-icons img {
  width: 20px;
  height: 20px;
  mix-blend-mode: screen;
  filter: invert(1);
}
.certificates {
  display: flex;
  flex-direction: row;
}
.certificates img {
  width: 80px;
  height: 80px;
}
