@font-face {
  font-family: "Shabnam-FD";
  src: url("../fonts/Shabnam-FD.woff2");
}

body {
  font-family: "Shabnam-FD";
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  margin-top: 20px;
}

.logo {
  width: 180px;
}
.input {
  width: 600px;
  padding: 8px;
  background-color: oklab(90.498% -0.00293 -0.02513);
  border: none;
  border-radius: 8px;
}
.btn {
  color: #3680ef;
  border-color: #3680ef;
  border-radius: 8px;
  background-color: #fff;
}
.list {
  color: rgba(0, 0, 0, 0.853);
  margin-top: 25px;
  margin-right: 215px;
  list-style: none;
  display: flex;
  gap: 30px;
}
.slider {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.slider img {
  width: 100%;
  display: block;
  border-radius: 20px;
}
.slider-btns {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}
.abc {
  color: #3680ef;
  width: 22px;
  height: 20px;
  background-color: aliceblue;
  border: none;
  border-radius: 50%;
}
.def {
  color: #3680ef;
  width: 22px;
  height: 20px;
  background-color: aliceblue;
  border: none;
  border-radius: 50%;
}
.bttn {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.btn2 {
  width: 10px;
  height: 10px;
  background-color: rgb(219, 202, 202);
  border-radius: 50%;
}
.brand {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  gap: 30px;
}
.brand-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
}
.samsung {
  margin-top: 10px;
  gap: 20px;
}

.apple {
  margin-top: 8px;
  gap: 21px;
}
.huawei {
  margin-top: 10px;
  gap: 20px;
}
.google {
  margin-top: 10px;
  gap: 20px;
}
.nokia {
  margin-top: 10px;
  gap: 19px;
}
.asus {
  margin-top: 8px;
  gap: 20px;
}
.oneplus {
  margin-top: 3px;
  gap: 25px;
}
.glorimi {
  margin-top: 30px;
  gap: 40px;
}
.honor {
  margin-top: 10px;
  gap: 17px;
}
.qcy {
  margin-top: 20px;
  gap: 10px;
}
